{% extends "base.html.twig" %}
{% block body %}
<h1>
{% if editMode %}
    Modification de l'article
{% else %}
    Création d'un article
{% endif %}
</h1>
{# {{ form(formArticle) }} #}
{# form permet d'afficher un formulaire entier #}
{{ form_start(formArticle, {attr: {novalidate: 'novalidate'}}) }}
{# novalidate: novalidate permet de désactiver la validation html automatique #}
{# form_start() et form_end() permettent de délimiter un formulaire, de modifier ses champs, changer la méthode... #}
{# form_widget() permet de gérer l'affichage d'un champ #}
{# form_row() permet de gérer l'affichage d'un champ et de son label #}
{{ form_row(formArticle.title, {label: "Titre", attr: {placeholder: "Titre de l'article"}} )}}
{{ form_row(formArticle.content, {label: "Contenu", attr: {placeholder: "Contenu de l'article"}} ) }}
{{ form_row(formArticle.image) }}
<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
    Enregistrer les modifications
{% else %}
    Publier l'article
{% endif %}
</button>
{{ form_end(formArticle) }}
{% endblock %}